
<f:section name="subject">This is a Test E-Mail</f:section>

<f:section name="html">
	<body>
		<table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%;">
			<tbody>
			<tr style="padding: 0; text-align: left; vertical-align: top;">
				<th style="Margin: 0; color: #6D6D6D; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 300; line-height: 1.5; margin: 0; padding: 0; text-align: left;">
					<p class="text-right copy-line" style="Margin: 0; color: #6D6D6D; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 300; line-height: 1.5; margin: 0; margin-bottom: 10px; margin-top: 10px; padding: 0; text-align: right;">
						This is a test e-mail formatted with HTML<br />
						{teststring}<br />
						Baseuri: {baseUri}
					</p>
				</th>
			</tr>
			</tbody>
		</table>
	</body>
</f:section>

<f:section name="plain">
	This is a test e-mail formatted with plaintext
	{teststring}
	Baseuri: {baseUri}
</f:section>